 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 600px;
}

.u-section-1 .u-shape-1 {
  width: 1140px;
  height: 467px;
  background-image: none;
  box-shadow: 5px 6px 0px 0px rgba(0,0,0,1);
  text-shadow: 5px 6px 0px rgba(0,0,0,0);
  margin: 22px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 6px 5px 0px 0px rgba(0,0,0,1);
  margin: 31px auto 31px 494px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    width: 940px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 294px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    width: 720px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 74px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    width: 540px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-1 {
    width: 270px;
  }
}