 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 846px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 266px 0 0;
}

.u-section-1 .u-text-2 {
  width: 310px;
  margin: 8px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  box-shadow: 5px 6px 0px 0px rgba(0,0,0,1);
  text-shadow: 5px 6px 0px rgba(0,0,0,0);
  border-style: solid;
  margin: 91px 395px 0 auto;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 5px 6px 0px 0px rgba(0,0,0,1);
  margin: -46px auto 60px 372px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 698px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 56px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 195px;
    margin-left: 495px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -45px;
    margin-left: 294px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 535px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
    margin-left: 372px;
  }

  .u-section-1 .u-btn-2 {
    margin-bottom: 56px;
    margin-left: 197px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 401px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 183px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: auto;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 252px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-2 {
    margin-top: 64px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 83px;
  }
}