 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 673px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  box-shadow: 5px 6px 0px 0px rgba(0,0,0,1);
  text-shadow: 5px 6px 0px rgba(0,0,0,0);
  margin: 37px auto 0 49px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 48px auto 0;
}

.u-section-1 .u-form-1 {
  height: 270px;
  background-image: none;
  box-shadow: 5px 6px 0px 0px rgba(0,0,0,1);
  text-shadow: 5px 6px 0px rgba(0,0,0,0);
  width: 554px;
  margin: 59px auto 60px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}