 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 595px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  box-shadow: 5px 6px 0px 0px rgba(0,0,0,1);
  text-shadow: 5px 6px 0px rgba(0,0,0,0);
  margin: 37px auto 0 48px;
}

.u-section-1 .u-form-1 {
  height: 156px;
  width: 570px;
  box-shadow: 5px 6px 0px 0px rgba(0,0,0,1);
  text-shadow: 5px 6px 0px rgba(0,0,0,0);
  background-image: none;
  margin: 33px auto 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  text-transform: uppercase;
  box-shadow: 6px 5px 0px 0px rgba(0,0,0,1);
  font-weight: 700;
  background-image: none;
  letter-spacing: normal;
  margin: 88px auto 60px 483px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 283px;
    transition-duration: 0.5s;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-3 {
    margin-left: 63px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}